div {
	cursor: default;
	-webkit-user-select: none;
}

#background{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.7;
}
#background img {
	max-height: 700px;
	width: 1500px;
}

#target{
	width: 100px;
	height: 40px;
	border-radius: 50px;
	background-color: #9a3e00;
	position: absolute;
	left: 1350px;
	top: 50px;
	border: 7px solid #3d1d00;
}
#target img{
	max-height: 100%;
	max-width: 100%;
}

#ball{
	border-radius: 100%;
	width: 50px;
	height: 50px;
	top: 600px;
	left: 0;
	position: relative;
	display: block;
}
#ball img{
	max-height: 100%;
    max-width: 100%;
	display: block;
}
.dot{
	border-radius: 100%;
	border: 2px solid red;
	position: absolute;
	font-size: 10px;
}

#info{
	position: absolute;
}
#mechanism{
	position: absolute;
	left: 10px;
}
.valuecontainer{
    display: inline-block;
    position: static;
}
.valueinputs{
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    padding-left: 5px;
    margin: 5px 0px;
	left: 0px;
	color: #3a3a3a;
	background-color: rgba(160, 160, 160, 0.5);
}
.scroll{
    width: 12px;
    height: 12px;
    background-color: red;
    position: relative;
    display: block;
    margin: 5px 0px;
	left: 0px;
	background: url("Data/scroll1.png") no-repeat;
}

#levelcontainer{
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 10px;
	width: 600px;

}
#levelcontainer div{
	display: inline-block;
	position: relative;
	margin-top: 5px;
}

.button{
	width: 125px;
	height: 30px;
	color: white;
	background-color: #1F9C00;
	display: inline;
	position: relative;
	right: 0;
	margin: auto;
	float: right;
	font-size: 16px;
	text-align: center;
	border-radius: 2px;
	font-family: 'Lucida Console';
}

.button p{
	margin-top: 7px;
}

#locklaunch{
	display: block;
	position: absolute;
	left: 0px;
	top: 70px;
	width: 700px;
}
#locklaunch div{
	position: relative;
	display: inline-block;
	margin: 5px;
	width: 300px;
	left: -84px;
}

#reset{
	width: 612px;
	display: static;
	position: absolute;
	opacity: 0;
	left: 870px;
}

#disable{
	visibility: hidden;
	width: 620px;
	height: 130px;
	position: absolute;
	z-index: 100;
	float: right;
}

#launch{
	z-index: 1000;
}

#resultsinfo{
	width: 400px;
	height: 200px;
	position: absolute;
	right: 0px;
	left: 0px;
	top: 100px;
	margin: auto;
	background-color: red;
	font-family: 'Verdana';
	text-align: center;
	background-color: rgba(152, 62, 0, 0.1);
	border-radius: 5px;
	color: rgba(152, 62, 0, 1);
	display: none;
	opacity: 0;
}

#resultsinfo button{
	width: 100px;
	height: 30px;
}
#resetbutton{
	vertical-align: center;
}
